<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pedrule Date-picker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin:0;">
<pedrule-input-datepicker>ceci est un test</pedrule-input-datepicker>
<script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

</body>
</html>